<launch>
    <arg name="rviz_conf" default="$(find atwifr_gazebo)/rviz/mapping.rviz"/>

    <node pkg="tf" type="static_transform_publisher" name="velodyne_tf" args="0 0 0.138 0 0 0 base_link velodyne 100" /> 

    <include file="$(find kiss_icp)/launch/run_icp.launch">
    </include>
    <include file="$(find atwifr_gazebo)/launch/octomap.launch">
    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" />
</launch>