<launch>
    <include file="$(find atwifr_gazebo)/launch/height_map.launch"></include>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
     <param name="resolution" value="0.2" />
     <param name="frame_id" type="string" value="odom" />
     <param name="sensor_model/max_range" value="100.0" />
     <param name="occupancy_min_z" value="-inf" />
     <param name="occupancy_max_z" value="inf" />
     <remap from="cloud_in" to="/velodyne_obstacles" />
    </node>
</launch>