<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" />
    
    <arg name="rviz_conf" default="$(find atwifr_gazebo)/rviz/navigation.rviz"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find atwifr_gazebo)/worlds/ifros.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <include file="$(find atwifr_gazebo)/launch/spawn_scout_v2.launch"></include>
        
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" />
</launch>
